.App {
  background-color: #dee3eb;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

p,
span {
  margin: 0;
  padding: 0;
}

.header-title {
  color: "#001F25";
  font-size: 38px;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 20px;
  margin-top: 0;
  padding-top: 0;
}

.filter-icon {
  width: max-content;
  background-color: #fff;
  padding: 2px 3px;
  height: 25px;
}

.search-box {
  width: 400px;
  padding: 1px 10px;
  background-color: #fff;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search-box input::placeholder {
  color: gray;
}

.header-btns {
  background-color: #001d32;
  padding: 2px;
  width: 230px;
  border-radius: 5px;
}

.h-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px;
}

.h-btn.active {
  background-color: #fff;
  color: #001d32;
}
